@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  font-family: 'Fira Code', monospace;
  background-color: black;
}

.font-kabel {
  font-family: 'Kabel', sans-serif;
}

.font-blosta {
  font-family: 'Blosta Script', cursive;
}

.font-fira {
  font-family: 'Fira Code', monospace;
}

/*scent BACKGROUND*/
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header-main-title-bg{
   position: relative;
   padding-top: 10px;
}

.main-title, .introduction, .collaboration {
  background-color: transparent; /* or rgba(0,0,0,0.3) for subtle overlay */
  max-width: 1200px;
  margin: 0 auto 3rem auto;
  padding: 0 1rem;
}
