/* Container for the entire nav bar */


  
.nav-bar {
    background-color: rgba(0, 0, 0, 0.5); 
    background-image: url('../assets/jupy3.jpeg');

    border: 1px solid white;
    border-radius: 12px;
    padding: 10px 24px;
    margin: 7px;
    max-width: 1200px;
    color: white;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  /* Left side: "PRAVEEN PATIL" */
.nav-left {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 6px 14px;
    border-color: transparent;         /* Border around the left text */
    border-radius: 8px;
    cursor: default;
    margin: 0;
}
  
  /* Right side navigation links container */
  .nav-right {
    display: flex;
    list-style: none;
    gap: 32px;                        
    padding: 6px 14px;
    border: 1px solid transparent;          
    border-radius: 8px;
    margin: 0;
    transition: transform 0.15s, box-shadow 0.15s;
    cursor: pointer;
  }
  
  
  
  /* Individual nav links */
  .nav-right li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.05rem;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .nav-right li a:hover {
        transform: translateY(-3px) scale(1.03);
        background: -webkit-linear-gradient(#3dff46 , #ffffff ); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
  